{
  "extends": ["google", "prettier", "prettier/@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/rule-name": "error",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    }
  }
}
